<header class="relative z-50 w-full flex-none text-sm font-semibold leading-6 text-cpl-text px-6 md:px-28">
    <nav aria-label="Global" class="mx-auto  ">
        <div class="relative flex items-center py-[2.125rem]">
            <div class="absolute inset-x-0 bottom-0 h-px bg-slate-900/5"></div>
            <a class="flex-none text-slate-900 text-white" href="/">
                <span class="sr-only">MAMI</span>
                <h1 class="text-white text-6xl font-bold ">
                    <span
                        class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-cpl-logo-higlight relative inline-block">
                        <span class="relative text-cpl-main p-6">MAMI</span></span>
                </h1>
            </a>
            <div class="ml-auto hidden lg:flex lg:items-center text-cpl-main text-xl">
                <a class="ml-8" href="/analysis">Image Analysis</a>
                <a class="ml-8" href="/contact">Contact</a>
                <a class="ml-8" href="/about">About</a>
            </div>

            <button type="button" @click="open = true"
                class="ml-8 flex h-8 w-8 items-center justify-center lg:hidden"><span class="sr-only">Open
                    navigation</span><svg viewBox="0 0 24 24" class="h-6 w-6 stroke-slate-300">
                    <path d="M3.75 12h16.5M3.75 6.75h16.5M3.75 17.25h16.5" fill="none" stroke-width="1.5"
                        stroke-linecap="round"></path>
                </svg>
            </button>
        </div>
    </nav>
</header>
