{% macro box(name, url, video) %}
<a href="{{ url }}">
    <div class="relative  w-full  mb-12 overflow-hidden rounded-lg border-cpl-border border-2">
        <!-- <img src="./static/images/section1.jpg" alt="section1" class="object-cover w-full h-80"> -->
        <span class="absolute flex inset-0 items-center justify-center">
            <span
                class="text-center before:opacity-50 before:box-decoration-clone before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-cpl-logo-higlight relative inline-block p-6">
                <span class="relative text-cpl-five text-3xl font-bold">{{ name|safe }}</span>
            </span>
        </span>
        <video autoplay loop muted class="object-cover w-full h-80">
            <source src="/static/videos/{{ video }}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</a>
{% endmacro %}