@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
}

.max-w-container {
    max-width: 85rem;
}

.prose-w-xl {
    max-width: 85ch;
}